body {
  /*background: url("http://i.imgur.com/CMWTqJx.jpg?1");
  background-color: rgba(238, 238, 238, 0.81) !important;
  background-blend-mode: color;*/
  text-align: center;
  background: linear-gradient(270deg, #b8e0f7, #f3d8f7);
  background-size: 600% 600%;
  animation: GradientFlow 15s ease infinite;
}
  @keyframes GradientFlow {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }


h1 {
  /*font-family: 'Abril Fatface', cursive;*/
  font-family: 'Oldenburg', cursive;
  font-size: 60px;
  /*padding-top: 10px;*/
  margin: auto;
  letter-spacing: 3px;
}
.turnBox {
  height: 20px;
  width: 500px;
  /*box-sizing: border-box;*/
  margin: auto;
  padding-bottom: 10px;
  display: flex;
  /*line-height: 50%;*/

}
.player1Turn {
  display: block;
  color: rgb(252,120,144);
  /*font-family: 'Abril Fatface', cursive;*/
  font-family: 'Oldenburg', cursive;
  font-size: 20px;
  margin: auto;
}
.player2Turn {
  display: none;
  color: cornflowerblue;
  /*font-family: 'Abril Fatface', cursive;*/
  font-family: 'Oldenburg', cursive;
  font-size: 20px;
  margin: auto;
}

.player1Win {
  display: none;
  font-size: 70px;
  /*font: rgb(252,120,144);*/
  /*font-family: 'Abril Fatface', cursive;*/
  font-family: 'Oldenburg', cursive;
  position: relative;
  z-index: 2;
  text-align: center;
}


.player2Win{
  display: none;
  font-size: 70px;
  /*font: cornflowerblue;*/
  /*font-family: 'Abril Fatface', cursive;*/
  font-family: 'Oldenburg', cursive;
  position: relative;
  z-index: 2;
  text-align: center;
}
.stalemate {
  display: none;
  font-size: 70px;
  /*font-family: 'Abril Fatface', cursive;*/
  font-family: 'Oldenburg', cursive;
  position: relative;
  z-index: 2;
  text-align: center;
}

.container {
  /*border: 1px solid purple;*/
  height: 100%;
  width: 100%;
}

.gameBoard {

  border: 2px solid silver;
  border-bottom: 15px solid white;
  border-left: 10px solid white;
  border-right: 10px solid white;
  height: 800px;
  width: 890px;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: row;
}



/*circle grid*/
.circle {
  border: 3px solid white;
  background-color: pink;
  height: 100px;
  width: 100px;
  display: inline-block;
  /*float: left;*/
  font-size: 60px;
  text-align: left;
  vertical-align: left;
  border-radius: 60px;
  position: relative;
  z-index: 1;
}
