body {
  background: url("http://i.imgur.com/CMWTqJx.jpg?1");
  background-color: rgba(238, 238, 238, 0.81) !important;
  background-blend-mode: color;
  text-align: center;
  }

h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 60px;
  padding: 10px;
  margin: auto;
}
.container {
  border: 1px solid purple;
  height: 100%;
  width: 100%;
}

.gameBoard {
  border: 1px solid black;
  border-bottom: 15px solid black;
  border-left: 10px solid black;
  border-right: 10px solid black;
  height: 800px;
  width: 890px;
  box-sizing: border-box;
  margin: auto;
  /*display: flex;
  flex-direction: column;*/
}


/*//square grid*/
/*.square {
  border: 3px solid white;
  height: 100px;
  width: 100px;
  display: inline-block;
  background-color: pink;
  /*float: left;*/
  /*font-size: 60px;
  text-align: center;*/
  /*vertical-align: middle;*/
  /*top: -742px;*/
  /*position: static;
  z-index: 0;
}*/


/*circle grid*/
.circle {
  border: 3px solid white;
  background-color: pink;
  height: 100px;
  width: 100px;
  display: inline-block;
  /*float: left;*/
  font-size: 60px;
  text-align: left;
  vertical-align: left;
  border-radius: 60px;
  position: relative;
  /*top: -742px;*/
  z-index: 1;
}

.row {
  position: relative;
  /*top: -742px;*/
  z-index: 1;
}
